/* Reset básico para garantir consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Isso faz a altura total ocupar 100% da tela */
}

header {
    background-color: #004d99;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

nav ul {
    list-style-type: none;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main Content */
main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    flex-grow: 1; /* Faz o conteúdo crescer para preencher o espaço disponível */
}

aside {
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

aside h2 {
    font-size: 1.8rem;
    color: #004d99;
    margin-bottom: 10px;
}

aside ul {
    list-style-type: none;
}

aside ul li {
    margin-bottom: 10px;
}

aside ul li a {
    color: #004d99;
    text-decoration: none;
}

aside ul li a:hover {
    text-decoration: underline;
}


article {
    margin-bottom: 30px;
}

article h2 {
    font-size: 2rem;
    color: #333;
}

section h3 {
    font-size: 1.5rem;
    margin-top: 20px;
    color: #0056b3;
}

section p {
    font-size: 1rem;
    margin: 10px 0;
}

section a {
    color: #004d99;
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #222;
    color: white;
    margin-top: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.8rem;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    main {
        padding: 10px;
    }

    article h2 {
        font-size: 1.8rem;
    }

    section h3 {
        font-size: 1.2rem;
    }
}
