body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.labirinto {
    width: 400px;
    height: 400px;
    background-color: #ccc;
    position: relative;
    margin-top: 20px;
}

.personagem {
    width: 20px;
    height: 20px;
    background-color: blue;
    position: absolute;
    top: 10px;
    left: 10px;
}

.saida {
    width: 20px;
    height: 20px;
    background-color: green;
    position: absolute;
    bottom: 10px;
    right: 10px;
}